<form class="container g-3 needs-validation" novalidate>
    </div>
    <div class="col-12 col-sm-10 col-md-9 rounded mx-auto">
        <label for="validationTextarea" class="form-label text-ternary">Poste nous ta meilleure légende !</label>
        <textarea class="form-control is-invalid" id="validationTextarea" placeholder="Laisse libre cours à ton imagination" required></textarea>
    </div>
    </div>
    <div class=" col-9 d-flex flex-row-reverse mx-auto rounded py-3 fs-3">
        <button class="btn-lg bg-secondary border-secondary" type="submit">Envoyer ! </button>
    </div>
</form>
