{% extends 'layout.html.twig' %}

{% block content %}
<div class="container" >
    <div class="home-pictures">
    <h2 class="text-center text-secondary" ><u>Les petites dernières</u></h2>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4" >
                <img src="https://picsum.photos/300/200" class="rounded mx-auto d-block">
            </div>
            <div class="col-12 col-sm-6 col-lg-4" >
                <img src="https://picsum.photos/300/200?random=2" class="rounded mx-auto d-block">
            </div>
            <div class="col-12 col-sm-6 col-lg-4" >
                <img src="https://picsum.photos/300/200?random=3" class="rounded mx-auto d-block">
            </div>
        </div>
    <h2 class="text-center text-secondary"><u>Le TOP du TOP</u></h2>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4" >
                <figure>
                    <img src="https://loremflickr.com/300/200?random=4" class="rounded mx-auto d-block">
                    <figcaption>
                        <p class="best-legend rounded mx-auto d-block text-center text-ternary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis debitis dolorum, eaque, eius.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-12 col-sm-6 col-lg-4" >
                <figure>
                    <img src="https://loremflickr.com/300/200?random=5" class="rounded mx-auto d-block">
                    <figcaption>
                        <p class="best-legend rounded mx-auto d-block text-center text-ternary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis debitis dolorum, eaque, eius.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-12 col-sm-6 col-lg-4" >
                <figure>
                    <img src="https://loremflickr.com/300/200?random=6" class="rounded mx-auto d-block">
                    <figcaption>
                        <p class="best-legend rounded mx-auto d-block text-center text-ternary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis debitis dolorum, eaque, eius.</p>
                    </figcaption>
                </figure>
            </div>
        </div>
    <h2 class="text-center text-secondary"><u>On ne savait pas quoi mettre ici</u></h2>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4" >
                <img src="https://picsum.photos/300/200?random=4" class="rounded mx-auto d-block">
            </div>
            <div class="col-12 col-sm-6 col-lg-4" >
                <img src="https://picsum.photos/300/200?random=5" class="rounded mx-auto d-block">
            </div>
            <div class="col-12 col-sm-6 col-lg-4" >
                <img src="https://picsum.photos/300/200?random=6" class="rounded mx-auto d-block">
            </div>
        </div>
    </div>
</div>
{% endblock %}
