{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
{% endblock %}
{% block content %}
<div class="container-fluid" >
    <div class="home-pictures pt-5">
        <h2 class="text-center text-secondary" >Les petites dernières</h2>
            {% set pictures = order_by_date_pictures %}






            {% include 'Component/_swiper.html.twig' %}
        <h2 class="text-center text-secondary">Le TOP du TOP</h2>
            {% set pictures = best_ranking_pictures %}
            {% include 'Component/_swiper.html.twig' %}
        <h2 class="text-center text-secondary">On ne savait pas quoi mettre ici</h2>
            {% set pictures = random_pictures %}
            {% include 'Component/_swiper.html.twig' %}
    </div>
</div>

    {% endblock %}
{% block javascript %}
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="assets/js/swiper.js"></script>
{% endblock %}