{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container" >
    <h2 class="text-center" >Les petites dernières</h2>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4" >
                <img src="https://loremflickr.com/300/200?random=1" class="rounded mx-auto d-block">
            </div>
            <div class="col-12 col-sm-6 col-lg-4" >
                <img src="https://loremflickr.com/300/200?random=2" class="rounded mx-auto d-block">
            </div>
            <div class="col-12 col-sm-6 col-lg-4" >
                <img src="https://loremflickr.com/300/200?random=3" class="rounded mx-auto d-block">
            </div>
        </div>
    <h2 class="text-center">Le TOP du TOP</h2>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4" >
                <img src="https://loremflickr.com/300/200?random=4" class="rounded mx-auto d-block">
                <p id="p" class="rounded mx-auto d-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis debitis dolorum, eaque, eius.</p>
            </div>
            <div class="col-12 col-sm-6 col-lg-4" >
                <img src="https://loremflickr.com/300/200?random=5" class="rounded mx-auto d-block">
                <p id="p" class="rounded mx-auto d-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis debitis dolorum, eaque, eius.</p>
            </div>
            <div class="col-12 col-sm-6 col-lg-4" >
                <img src="https://loremflickr.com/300/200?random=6" class="rounded mx-auto d-block">
                <p id="p" class="rounded mx-auto d-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis debitis dolorum, eaque, eius.</p>
            </div>
        </div>
    <h2 class="text-center">On ne savait pas quoi mettre ici</h2>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4" >
                <img src="https://loremflickr.com/300/200?random=17" class="rounded mx-auto d-block">
            </div>
            <div class="col-12 col-sm-6 col-lg-4" >
                <img src="https://loremflickr.com/300/200?random=8" class="rounded mx-auto d-block">
            </div>
            <div class="col-12 col-sm-6 col-lg-4" >
                <img src="https://loremflickr.com/300/200?random=9" class="rounded mx-auto d-block">
            </div>
        </div>

</div>
{% endblock %}
