:root {
    --primary-color: #000000;
    --secondary-color: #ff0000;
    --ternary-color: #f5f5f5;
}
.bg-primary {
    background-color: var(--primary-color) !important;
}
.bg-secondary {
    background-color: var(--secondary-color) !important;
}
.bg-ternary {
    background-color: var(--ternary-color);
}
.text-primary {
    color: var(--primary-color) !important;
}
.text-secondary {
    color: var(--secondary-color) !important;
}
.text-ternary {
    color: var(--ternary-color) !important;
}
border-primary {
    border-color: var(--primary-color) !important;
}
.border-secondary {
    border-color: var(--secondary-color) !important;
}
.border-ternary {
    border-color: var(--ternary-color) !important;
}

body{
    font-family: 'Bebas Neue', cursive;
}
#logo{
    height: auto;
    width: 23%;
    margin-right: 60px;
}
 .navbar-toggler-icon {
    background-image: url("/assets/images/logoM.jpg");
}
.navbar-brand {
    font-size: 33px !important;
}
.nav-link{
    font-size: 30px;
}
.network{
    width:20%;
}
.networks {
    padding-top:10%;
    padding-bottom: 10%;
}
.best-legend{
    width: 300px;
}
.home-pictures{
    padding-top: 5%;
}
figure {
    width: 400px;
    height: 300px;
}
img {
    width: 100%;
    height: 100%;
}
