:root {
    --primary-color: #000000;
    --secondary-color: #ff0000;
    --ternary-color: #f5f5f5;
}
.bg-primary {
    background-color: var(--primary-color) !important;
}
.bg-secondary {
    background-color: var(--secondary-color) !important;
}
.bg-ternary {
    background-color: var(--ternary-color);
}
.text-primary {
    color: var(--primary-color) !important;
}
.text-secondary {
    color: var(--secondary-color) !important;
}
.text-ternary {
    color: var(--ternary-color) !important;
}
border-primary {
    border-color: var(--primary-color) !important;
}
.border-secondary {
    border-color: var(--secondary-color) !important;
}
.border-ternary {
    border-color: var(--ternary-color) !important;
}
body{
    font-family: 'Bebas Neue', cursive;
}
.navbar-toggler-icon {
    background-image: url("/assets/images/logoM.jpg") !important;
}
.navbar-link{
    text-decoration: none !important;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: relative;
}
#logo{
    height: auto;
    width: 17%;
    margin-right: 60px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5.5rem;
}
.network{
    width:20%;
}
#bloc-page {
    position: relative;
    min-height: 95vh;
}
#content-wrap {
    padding-bottom: 2.5rem;
}
.best-legend{
    width: 300px;
}
figure {
    width: 400px;
    height: 300px;
}
img {
    width: 100%;
    height: 100%;
}
input{
    font-family: arial;
}
.input-group-prepend span{
    width: 50px;
    border:0 !important;
}
#picture-background{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 400px;
}
.photo-profil {
    max-width: 80px;
    height: auto;
}
.swiper {
    height: 300px;
}
.rank-number {
    position: absolute;
    font-size: 8rem;
    color: white;
    /*opacity: .7;*/
    right: center;
    top: 164px;
}
.content {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.68);
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fit-cover {
    object-fit: cover;
}
.btn-lg {
    width: 300px;
}
#avatarnav {
    width: 50px;
}
.btn-outline-danger {
    color: var(--ternary-color);
    border: none !important;
}
.btn-check:focus + .btn-outline-danger, .btn-outline-danger:focus {
    color: var(--ternary-color);
    background-color: var(--secondary-color);
    box-shadow: none !important;
}
.btn-check:checked + .btn-outline-danger, .btn-check:active + .btn-outline-danger, .btn-outline-danger:active, .btn-outline-danger.active, .btn-outline-danger.dropdown-toggle.show {
    color: var(--ternary-color);
    background-color: var(--secondary-color);
}
.btn-check:checked + .btn-outline-danger:focus, .btn-check:active + .btn-outline-danger:focus, .btn-outline-danger:active:focus, .btn-outline-danger.active:focus, .btn-outline-danger.dropdown-toggle.show:focus {
    color: var(--ternary-color);
    background-color: var(--secondary-color);
    box-shadow: none !important;
}
.btn-outline-danger:disabled, .btn-outline-danger.disabled {
    color: var(--ternary-color);
    background-color: var(--secondary-color);
}

