{% extends 'layout.html.twig' %}

{% block content %}

    <div class="profile text-ternary fs-1 d-flex offset-1">

       <div class="picture-profil d-flex">
           <img class=" photoProfil img-fluid rounded-circle w-50 " src="https://avatars.githubusercontent.com/{{ user_data.nickname_github }}">
       </div>
        <div class="d-flex flex-column">
            <div class=" pseudo-profil d-flex align-items-center">
                Mèmeflixeur {{  user_data.name }}
             </div>
            <div class="container  fs-4">
                Tes légendes postées :
                 <ul class="list-group ">
                {% for user_legend in user_legends %}
                     <li class="list-group-item d-flex ">
                     <div class="flex-grow-1">
                         <div class="fs-3">
                     {{ user_legend.content }}
                         </div>
                     </div>
                     </li>
                {% endfor %}
                 </ul>
            </div>
        </div>

    </div>

{% endblock %}