{% extends 'layout.html.twig' %}

{% block content %}

    <div class="profile text-ternary fs-3">

    Mèmeflixeur
    {{  user_data.name }}
    <br><br>
    Ton bon profil
    {{ user_data.nickname_github }}
    </div>

{% endblock %}