{% extends 'layout.html.twig' %}

    {% block content %}
        <div class="container d-flex">
            <div class="gifRegister row ms-1 d-flex col-3 rounded justify-content-center text-center">
            </div>
            <form method="post" class="col-9">
                <div class="d-flex justify-content-center">
                    <div class="card bg-primary">
                        <div class="card-header text-ternary d-flex justify-content-center mt-5">
                            <h3>Inscris-toi</h3>
                        </div>
                        <div class="card-body">
                                <div class="input-group form-group">
                                    <div class="input-group-prepend d-flex align-items-stretch">
                                        <span class="input-group-text bg-secondary"><i class="fas fa-user text-primary"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Pseudo" name="name" required autofocus>
                                    <span class="text-secondary"></span>
                                </div><br>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend d-flex align-items-stretch">
                                        <span class="input-group-text bg-secondary "><i class="fab fa-github text-primary"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Pseudo Github" name="nickname_github" required>
                                    <span class="text-secondary"></span>
                                </div><br>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend d-flex align-items-stretch">
                                        <span class="input-group-text bg-secondary "><i class="fas fa-key text-primary"></i></span>
                                    </div>
                                    <input type="password" class="form-control" placeholder="Mot de passe" name="password" required>
                                    <span class="text-secondary"></span>
                                </div>
                                <div class="card-header text-ternary d-flex justify-content-center">
                                    {% for error in errors %}
                                        {{ error }} <br>
                                    {% endfor %}
                                </div>
                                <div class="form-group d-flex justify-content-center ">
                                    <button type="submit" value="Login" class="btn mt-5 float-right text-ternary bg-secondary login_btn">S'inscrire</button>
                                </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    {% endblock %}