<div class="page-footer font-small special-color-dark pt-5">
    <div class="container text-ternary fs-2">
        <div class="row">
            <div class="row  justify-content-center">
                <div class="col offset-2">
                    <a><i class="fab fa-facebook-square" alt="Facebook"></i></a>
                </div>
                <div class="col">
                    <a><i class="fab fa-twitter-square" alt="Twitter"></i></a>
                </div>
                <div class="col">
                    <a><i class="fab fa-instagram-square"alt="Instagram"></i></a>
                </div>
                <div class="col">
                    <a><i class="fab fa-linkedin"alt="Linkedin"></i></a>
                </div>
            </div>
        </div>

    </div>
        <div class="copyright text-secondary fs-6">
            <div class="footer-copyright text-center py-3">© 2021 Copyright :
                <p>Eléonore Claire Thomas Joffrey</p>
             </div>
        </div>
</div>
