<footer class="page-footer font-small special-color-dark pt-10">
    <div class="container">
        <ul class="d-flex">
            <li class="list-inline-item">
                <a class="btn-floating btn-fb mx-1">
                    <i> <img class="reseaux" src="assets/images/facebook.png" alt="Facebook"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-tw mx-1">
                    <i> <img class="reseaux" src="assets/images/twitter.png" alt="Twitter">  </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-in mx-1">
                    <i> <img class="reseaux" src="assets/images/instagram.png" alt="Instagram"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-li mx-1">
                    <i><img class="reseaux" src="assets/images/linkedin.png" alt="Linkedin"> </i>
                </a>
        </ul>
    </div>
    <div class="copyright">
    <div class="footer-copyright text-center py-3">© 2021 Copyright :
        <p>Eléonore Claire Thomas Joffray</p>
    </div>
    </div>
</footer>