<nav class="navbar navbar-expand-lg navbar-dark">
    <div class=" container-fluid">
        <img id="logo" src="assets/images/logo2.jpg" alt="logo" />
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

            <div class="navbar-nav d-flex align-items-center fs-1">
                {% if (session.user) %}
                    <li class="text-ternary mx-3">Bonjour {{ session.user.name }} !</li>
                    <li> <img id="avatarnav" class=" photoProfil img-fluid rounded-circle" src="https://avatars.githubusercontent.com/{{ session.user.nickname_github }}"></li>
                {% endif %}
                <li><a class="navbar-link text-secondary mx-3" href="/">Accueil</a></li>
                {% if(session.user.is_admin ) %}
                    <li><a class="navbar-link text-secondary mx-3" href="/admin">Admin</a></li>
                {% endif %}
                {% if (session.user) %}
                    <li><a class="navbar-link text-secondary mx-3" href="/profil?id={{ session.user.id }}">Profil</a></li>
                    <li><a class="navbar-link text-ternary mx-3 fs-4" href="/logout">Déconnexion</a></li>
                {% else %} </li>
                    <li><a class="navbar-item text-ternary mx-3 fs-4" href="/connection">Connexion</a></li>
                    <li><a class="navbar-item text-ternary mx-3 fs-4" href="/registration">Inscription</a></li>
                {% endif %}
                </ul>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown offset-5">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</nav>
<div class="container">
    <div class="row">
        <span class="col border border-secondary"></span>
    </div>
</div>
