<!-- Slider main container -->

<div class="swiper container-fluid">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

        {% for picture in pictures %}
            <div class="swiper-slide">
                {% if top %}
                    <span class="rank-number">{{ loop.index }}</span>
                {% endif %}
                <div class="content">
                   {{ top ? loop.index : ''}} Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </div>
                <a href="/image?id={{ picture.id }}"><img src="{{ picture.url }}" class="rounded mx-auto d-block fit-cover"></a>
            </div>
        {% endfor %}
        ...
    </div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev text-secondary"></div>
    <div class="swiper-button-next text-secondary"></div>

</div>