{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container center">
        <div class="justify-content-center">
            <img src="https://media4.giphy.com/media/3oJpyi7wBpo0sV9V9C/giphy.gif?cid=790b7611eb505a314c711d98bf6360055a8644910ea3d796&rid=giphy.gif&ct=g"/>
        </div>
{% endblock %}