{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container center">
        <div class="justify-content-center">
            <img src="https://media2.giphy.com/media/l396Ek49dHpUA2jnO/giphy.gif?cid=790b761169ffaa64e26595e67daccd39e83d55ac8f385e4b&rid=giphy.gif&ct=g"/>
        </div>
{% endblock %}