{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container center">
        <div class="justify-content-center">
            <img src="https://c.tenor.com/I0KqXE6oNdgAAAAC/dont-give-me-excuses-give-me-results-madagascar.gif"/>
        </div>
{% endblock %}


